
.cars-garage__amount {
}


.cars-winners {
  margin: 50px 0;
}
.cars-winners__title {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.cars-winners__amount {
}
.cars-winners__subtitle {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.cars-winners__page {
}
.cars-winners__table {
  width: 600px;
}
.winners-table__titles {
  font-size: 1.5rem;
  color: #fff;
}
.car-winner {
  font-size: 1.2rem;
  color: #fff;
  height: 60px;
}
.car-winner__number {
  width: 3%;
}

.car-winner__svg {
  background-image: url('./car.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  height: 30px;
  width: 15%;
}
.car-winner__name {
  text-align: center;
}
.car-winner__wins {
  text-align: center;
}
.car-winner__time {
  text-align: center;
}